.container-pp {
  width: 100%;
  height: 80%;
}

.met-container {
  background-color: #fac39c;
  border-radius: 16px;
}

.btn-met {
  background-color: #84b45f;
  color: white;
  border: none;
  padding: 5px 16px;
  border-radius: 10px !important;
  cursor: pointer;
}

.btn-met:hover {
  background-color: #648a47;
}

.btn-met:active {
  background-color: #648a47;
}

/* Stil pentru input-urile din formulare */
.inpute {
  width: 100%;
  padding: 8px;
  margin: 4px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

/* Stil pentru input-urile de tip checkbox */
.inpute[type="checkbox"] {
  margin: 8px 4px;
}

/* Stil pentru butoanele de adăugare */
.btn-add {
  background-color: #84b45f;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 12px 4px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.btn-add:hover {
  background-color: #648a47;
}

/* Stil pentru containerele de adăugare tip venit și cheltuială */
.adauga-tip-venit,
.adauga-tip-cheltuiala {
  display: flex;
  background-color: #f7cfb2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #55614a;
  width: 100%;
  height: 100%;
  padding: 16px;
  border-radius: 10px;
}

.adauga {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.labele {
  margin-bottom: 5px;
}

/* Stil pentru listele de tipuri de venituri și cheltuieli */
.list-group {
  list-style: none;
  padding: 0;
  margin-top: 15px;
  cursor: pointer;
}

.list-group-item {
  background-color: #fdfcfa;
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.close-edit-category-modal {
  font-size: 22px;
  cursor: pointer;
}

.edit-metadata-modal {
  input {
    margin-bottom: 0;
    height: 48px;
    border: 1px groove;
    border-color: #cfbdbd;
    border-radius: 10px;
  }
  .edit-metadata-btn {
    background-color: #539110;
    color: white;
    border: none;
    padding: 5px 16px;
    border-radius: 10px !important;
    cursor: pointer;
    margin-top: 16px;
  }
}
