/* Adaugă aceste stiluri în fișierul Venit.scss */

.venit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Stilurile pentru modalul de adăugare a veniturilor */
  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    max-width: 300px;
    margin: 0 auto;
  }
  
  /* Stilizare pentru formularul de adăugare a veniturilor în cadrul modalului */
  .popup-content label {
    display: block;
    margin-bottom: 10px;
  }
  
  .popup-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .popup-content button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .popup-content button:hover {
    background-color: #45a049;
  }

  .venit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px; /* Modificare pentru spații mai mari între elementele listei */
    font-size: 1.3em; /* Mărirea dimensiunii textului */
    color: #555; /* Schimbare culoare text */
    background-color: #f9f9f9; /* Adăugare fundal pentru fiecare element din listă */
    padding: 15px; /* Adăugare spațiu în jurul textului */
    border-radius: 8px; /* Rotunjirea colțurilor */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adăugare umbrire */
    transition: all 0.3s ease; /* Animare la hover */
  }
  
  li:hover {
    background-color: #e0e0e0; /* Schimbare culoare la hover */
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  